<div class="app">
  <ul class="list_apps">
    <li class="app_item">
      <img src="../img/app/steam.jpg" alt="" class="app_img" />
    </li>
    <li class="app_item">
      <img src="../img/app/microsoft.jpg" alt="" class="app_img" />
    </li>
    <li class="app_item">
      <img src="../img/app/epic.jpg" alt="" class="app_img" />
    </li>
    <li class="app_item">
      <img src="../img/app/ubisoft.jpg" alt="" class="app_img" />
    </li>
    <li class="app_item">
      <img src="../img/app/xbox.jpg" alt="" class="app_img" />
    </li>
  </ul>
</div>
