<div class="app">
  <ul class="list_apps">
    <li class="app_item">
      <img
        src="/img/app/steam.jpg"
        width="274px"
        height="175px"
        alt=""
        class="app_img"
      />
    </li>
    <li class="app_item">
      <img
        src="/img/app/epic.jpg"
        width="104px"
        height="126px"
        alt=""
        class="app_img"
      />
    </li>
    <li class="app_item">
      <img
        src="/img/app/microsoft.jpg"
        width="174px"
        height="126px"
        alt=""
        class="app_img"
      />
    </li>
    <li class="app_item">
      <img
        src="/img/app/xbox.jpg"
        width="174px"
        height="126px"
        alt=""
        class="app_img"
      />
    </li>
    <li class="app_item">
      <img
        src="/img/app/ubisoft.jpg"
        width="174px"
        height="98px"
        alt=""
        class="app_img"
      />
    </li>
  </ul>
</div>
