<div class="header_desc">
  <div class="logo"><img class="logo_img" src="../img/logo.png" alt="" /></div>
  <div class="nav">
    <ul class="list">
      <li class="list_item" id="home">Home</li>
      <li class="list_item" id="about">About</li>
      <li class="list_item" id="popular">Popular</li>
      <li class="list_item" id="#contacts">Contacts</li>
    </ul>
  </div>
  <div class="cart">
    <img class="search_icon" src="../img/sprite.svg#search" alt="search" />
    <img class="cart_icon" src="../img/sprite.svg#cart" alt="cart" />
  </div>
</div>
