<div class="hero" id="hero">
  <!-- <div class="img_hero"><img src="../img/hero/desc.jpg" alt="" /></div> -->
  <picture>
    <source srcset="/img/hero/desc.jpg" media="(min-width:768px)" />
    <source srcset="/img/hero/tel.jpg" media="(min-width:320px)" />
    <img
      src="/img/hero/desc.jpg"
      alt="hero image"
      class="hero_img"
      width="1440px"
    />
  </picture>
  <p class="text_hero">
    GameHub is an online shop where users can purchase computer games. 
  </p>
  <button type="button" class="btn_discover">Discover More</button>
</div>
