<section class="list" id="list">
  <div class="list_container">
    <div class="search_form">
      <h2 class="title_list">List of Products</h2>
      <div class="search_box">
        <input
          class="search_input"
          type="text"
          placeholder="Search your game..."
        />
      </div>
    </div>
    <div class="list_img">
      <picture class="img">
        <source srcset="/img/list/desc.png" media="(min-width:425px)" />
        <source srcset="/img/list/phone.png" media="(min-width:320px)" />
        <img src="/img/list/desc.png" alt="list image" />
      </picture>
    </div>
  </div>
</section>
