<section class="list" id="list">
  <div class="list_container">
    <div class="search_form">
      <h2 class="title_list">List of Products</h2>
      <div class="filter_box">
        <label class="genre" for="genreFilter">Genre: </label>
        <select class="genre_filter" id="genreFilter">
          <option value="all">All</option>
          <option value="action">Action</option>
          <option value="adventure">Adventure</option>
          <option value="sports">Sports</option>
          <option value="horror">Horror</option>
          <option value="rpg">RPG</option>
        </select>
      </div>
      <!-- <div class="search_box">
        <input
          class="search_input"
          type="text"
          placeholder="Search your game..."
        />
      </div> -->
    </div>
    <div id="product_list" class="product_list"></div>
  </div>
</section>
