<section class="popular" id="popular">
  <div class="container gallery-container">
    <h2 class="popular_title">Most Popular</h2>

    <div class="swiper-container">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <a href="./details.html">
            <img class="swiper-img" src="/img/popular/first.jpg" alt="" />
          </a>
        </li>
        <li class="swiper-slide">
          <a href="./details.html">
            <img class="swiper-img" src="/img/popular/second.jpg" alt="" />
          </a>
        </li>
        <li class="swiper-slide">
          <a href="./details.html">
            <img class="swiper-img" src="/img/popular/3.jpg" alt="" />
          </a>
        </li>
        <li class="swiper-slide">
          <a href="./details.html">
            <img class="swiper-img" src="/img/popular/4.jpg" alt="" />
          </a>
        </li>
        <li class="swiper-slide">
          <a href="./details.html">
            <img class="swiper-img" src="/img/popular/5.jpg" alt="" />
          </a>
        </li>
        <li class="swiper-slide">
          <a href="./details.html">
            <img class="swiper-img" src="/img/popular/6.jpg" alt="" />
          </a>
        </li>
        <li class="swiper-slide">
          <a href="./details.html">
            <img class="swiper-img" src="/img/popular/7.jpg" alt="" />
          </a>
        </li>
        <li class="swiper-slide">
          <a href="./details.html">
            <img class="swiper-img" src="/img/popular/8.jpg" alt="" />
          </a>
        </li>
      </ul>

      <div class="custom-prev">
        <svg width="65" height="65">
          <use href="/img/sprite.svg#icon-left"></use>
        </svg>
      </div>
      <div class="custom-next">
        <svg width="65" height="65">
          <use href="/img/sprite.svg##icon-right"></use>
        </svg>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
