.details {
  margin: 15px;
}
.go_back {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.text_go_back {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
}
.img_details {
  border-radius: 15px;
  display: flex;
  max-width: 500px;
  margin: 1px auto;
}
.img_game_details {
  display: block;
  width: 100%;
  border-radius: 15px;
}
.details_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
  font-family: 'Poppins', sans-serif;
}

.details_top p {
  font-weight: 700;
  font-size: 30px;
  line-height: 60%;
  letter-spacing: 0.01em;
  color: #fff;
}

.text_price {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #fff;
}
.text_details {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: #fff;
  margin: 15px 0;
}
.btn_add_to_cart {
  background-color: transparent;
  border: none;
  display: flex;
  margin: 0 auto;
}
.btn_add_to_cart:hover {
  box-shadow: #c6c5c5;
  opacity: 50%;
}
.btn_add_to_cart:focus {
  box-shadow: #787878;
  opacity: 50%;
}

@media only screen and (min-width: 768px) {
  .details {
    margin: 30px;
    max-width: 1440px;
  }
  .wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
  .wraper_text {
    width: 50%;
  }
  .go_back {
    margin-bottom: 40px;
  }

  .details_top p {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
  }
  .text_price {
    font-weight: 500;
    font-size: 38px;
  }
  .text_details {
    font-weight: 400;
    font-size: 17px;
  }
  .btn_add_to_cart {
    margin: 20px 0;
  }
}
