.hero {
  background-image: url(../img/hero/tel.jpg);
  border-radius: 65px;
  mask-repeat: no-repeat;
  min-width: 320px;
  min-height: 534px;
  font-family: 'Poppins', sans-serif;
}

.text_hero {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #fff;
  min-width: 300px;
  padding-top: 60px;
}
.btn_discover {
  font-family: 'Poppins', sans-serif;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  background-color: #fff;
  margin-top: 30px;
  margin-left: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_discover:hover {
  background-color: #c1bfbf;
}
@media only screen and (min-width: 425px) {
  .text_hero {
    max-width: 600px;
    padding-top: 100px;
    text-align: start;
    padding-left: 20px;
    font-size: 40px;
  }
  .btn_discover {
    margin-top: 30px;
    margin-left: 20px;
  }
  .hero {
    min-height: 483px;
    max-width: 1440px;
    background-image: url(../img/hero/desc.jpg);
  }
}
