@import './about.scss';
@import './footer.scss';
@import './header.scss';
@import './hero.scss';
@import './list.scss';
@import './popular.scss';
@import './app.scss';
@import './details.scss';
@import './cart.scss';
@import './payment.scss';
@import './loader.scss';

body {
  line-height: 1.5;
  color: rgb(233, 232, 228);
  background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: rgb(233, 232, 228);
}
p {
  font-size: 16px;
  line-height: 1.5;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  cursor: pointer;
}
