/* @import "./about.css";
@import "./footer.css"; */
@import './header.scss';
/* @import "./hero.css";
@import "./list.css";
@import "./popular.css";
@import "./app.css";
@import "./details.css";
@import "./cart.css"; */

body {
  line-height: 1.5;
  color: rgb(233, 232, 228);
  background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: rgb(233, 232, 228);
}
p {
  font-size: 16px;
  line-height: 1.5;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  cursor: pointer;
}
